.header {
    height: 80px;
    background-color: #EDE7D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    display:  flex;
    justify-content: center;
    gap: 8rem;
}

.nav-link {
    text-decoration: none;
    color: #555;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background 0.2s, color 0.2s;
    display: inline-block;
}


